
<div class="container">
	<footer id="footer" class="row footer" data-hook>
		<div id="footer-left" class="col-md-6" data-hook>
			&copy 2014 Chia Chia! <!--(<%= Spree.t :powered_by %> <%= link_to 'Spree', 'http://spreecommerce.com/' %>) -->
		</div>
	</footer>
</div>
