<div class="col-md-12">
	<ul class="bxslider">
		<li><%= image_tag("store/bxslider/bxslider1sepia.jpg", 
			:alt => "Chia Chia!",
			:class => "img-responsive img-bxslider",
			:title => Spree.t(:bxslider1)) 
			%>
		</li>
		<li><%= image_tag("store/bxslider/bxslider2sepia.jpg", 
			:alt => "Chia Chia!",
			:class => "img-responsive img-bxslider",
			:title => Spree.t(:bxslider2)) 
			%>
		</li>
		<li><%= image_tag("store/bxslider/bxslider3sepia.jpg", 
			:alt => "Chia Chia!",
			:class => "img-responsive img-bxslider",
			:title => Spree.t(:bxslider3)) 
			%>
		</li>

	</ul>
</div>