<div class="col-md-4">
</div>
<div class="col-md-4">
	<table class="table table-striped">
		<thead>
			<tr style="text-align: center;">
				<th colspan="2">
					<h3>
						Chia Chia! <%= Spree.t(:location) %>
					</h3>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<strong><%= Spree.t(:address) %>: </strong>
				</td>
				<td> 
					Zuiderzeeweg 80A<br/>
					1095KX Amsterdam
				</td>
			</tr>
			<tr>
				<td>
					<strong><%= Spree.t(:telephone) %>: </strong>
				</td>
				<td> 
					06-13455574
				</td>
			</tr>
			<tr>
				<td>
					<strong>E-mail: </strong>
				</td>
				<td> 
					<a href="mailto:info@chiachia.eu">info@chiachia.eu</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-md-4">
</div>